*.a
*.cmake
*.def
*.dir
*.dll
*.dylib
*.exe
*.exp
*.filters
*.gcda
*.gcno
*.la
*.lai
*.lib
*.lo
*.o
*.obj
*.out
*.sl
*.sln
*.so
*.so.*
*.vcxproj
*.x
*~
leasedump
leasedump.8
sha256sums.txt
tmp/
vgcore.*
